body {
  text-align: center;
  background-color: rgba(0, 0, 40, 150);
}

/* .Banner{
  background-color: bisque;
} */

.grid1 {
  display: grid;
  grid-template-columns:  1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  /* background-color: aliceblue; */
  height: 70px;
  text-align: center;
  color: black;
}

.grid2 {
  display: grid;
  grid-template-columns:  1fr 0.5fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  /* background-color: aliceblue; */
  height: 600px;
  text-align: center;
  color: black;
}

.side{
  grid-row: 1/4;
}

h1 {
  color: azure;
  font-family: './StalinistOne-Regular.tff', monospace;
  font-size: 300%;
}

p {
  color: azure;
}


/* iframe { */
  /* height: 100% !important;
  width: 70%;
} */